In [3]:
from operator import index
!pip install pandas

import pandas as pd

Collecting pandas
  Downloading pandas-3.0.0-cp312-cp312-macosx_11_0_arm64.whl.metadata (79 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.4.2-cp312-cp312-macosx_14_0_arm64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/Caskroom/miniconda/base/envs/venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Caskroom/miniconda/base/envs/venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-3.0.0-cp312-cp312-macosx_11_0_arm64.whl (9.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 10.2 MB/s  0:00:00 eta 0:00:01
Downloading numpy-2.4.2-cp312-cp312-macosx_14_0_arm64.whl (5.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.2/5.2 MB 10.6 MB/s  0:00:00 eta 0:00:01
Installing collected packages: numpy, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [pandas]2m1/2 [pandas]
Successfully installed numpy-2.4.2 pandas-3.0.0

In [5]:
df = pd.read_csv('Data.csv')
## fetch first five row 
df.head(5)

,Synthetic_Data,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59
0,ID,Date,Segment,Region,Product,Channel,Units,Price,Discount,Gross_Sales,...,Feature_33,Feature_34,Feature_35,Feature_36,Feature_37,Feature_38,Feature_39,Feature_40,Feature_41,Feature_42
1,1,2024-01-01,Consumer,North,Omega,Web,7,35.95,0.0778,251.65,...,0.2445,-0.7512,1.4398,0.4953,-0.3414,-0.9781,0.7948,0.367,0.314,-0.2693
2,2,2024-01-02,Enterprise,West,Delta,Partner,11,29.56,0.0301,325.16,...,-0.6756,-1.8047,-0.9686,-0.8705,-0.1231,-0.4762,-1.4512,0.0583,0.3998,-0.7063
3,3,2024-01-03,SMB,West,Gamma,Store,15,34.96,0.1333,524.4,...,1.3465,-0.3722,0.4901,0.0712,0.93,0.9264,-1.842,0.6777,-0.566,0.4901
4,4,2024-01-04,SMB,South,Beta,Web,16,27.45,0.0997,439.2,...,-1.9772,0.3657,0.2532,0.3021,0.5605,-1.7665,-0.1778,0.607,0.8551,1.1134

In [7]:
df.tail(5)

,Synthetic_Data,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59
296,296,2024-10-22,Consumer,West,Gamma,Web,5,17.23,0.0117,86.15,...,-1.1593,-0.2564,1.9256,-1.4767,0.4953,-0.7731,-1.1994,-0.4342,-1.0698,0.0233
297,297,2024-10-23,SMB,South,Beta,Mobile,10,27.03,0.1469,270.3,...,-0.974,0.2855,0.7378,0.3815,0.697,-0.2963,0.6417,0.864,0.2598,-0.5052
298,298,2024-10-24,Consumer,West,Gamma,Store,13,31.7,0.0426,412.1,...,-1.3334,0.8032,-0.3811,-0.1086,0.6893,-0.5027,-0.3974,-0.5865,1.3377,0.3429
299,299,2024-10-25,SMB,East,Omega,Mobile,9,16.64,0.004,149.76,...,-1.6917,-0.6144,0.6056,-1.1749,0.8519,1.2601,-0.677,-0.1758,-0.2799,-0.0517
300,300,2024-10-26,Consumer,East,Delta,Mobile,17,18.28,0.0796,310.76,...,-0.0549,-1.3918,0.4216,-0.4736,-0.3094,0.1356,-0.1731,0.7797,-0.0105,-0.2418

In [ ]:
df.describe()
## it will find all the statistical data

,Synthetic_Data,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59
count,301,301,301,301,301,301,301,301,301,301,...,301,301,301,301,301,301,301,301,301,301
unique,301,301,4,5,6,5,21,286,274,300,...,300,299,299,301,299,299,298,299,300,298
top,ID,Date,Consumer,North,Omega,Web,13,34.96,0.0778,149.76,...,-0.2759,-0.4624,0.3357,Feature_36,-1.1558,-0.189,-0.677,-0.8882,0.5529,-0.4768
freq,1,1,165,89,65,103,40,2,2,2,...,2,2,2,1,2,2,2,2,2,2

In [9]:
df.dtypes

Synthetic_Data    str
Unnamed: 1        str
Unnamed: 2        str
Unnamed: 3        str
Unnamed: 4        str
Unnamed: 5        str
Unnamed: 6        str
Unnamed: 7        str
Unnamed: 8        str
Unnamed: 9        str
Unnamed: 10       str
Unnamed: 11       str
Unnamed: 12       str
Unnamed: 13       str
Unnamed: 14       str
Unnamed: 15       str
Unnamed: 16       str
Unnamed: 17       str
Unnamed: 18       str
Unnamed: 19       str
Unnamed: 20       str
Unnamed: 21       str
Unnamed: 22       str
Unnamed: 23       str
Unnamed: 24       str
Unnamed: 25       str
Unnamed: 26       str
Unnamed: 27       str
Unnamed: 28       str
Unnamed: 29       str
Unnamed: 30       str
Unnamed: 31       str
Unnamed: 32       str
Unnamed: 33       str
Unnamed: 34       str
Unnamed: 35       str
Unnamed: 36       str
Unnamed: 37       str
Unnamed: 38       str
Unnamed: 39       str
Unnamed: 40       str
Unnamed: 41       str
Unnamed: 42       str
Unnamed: 43       str
Unnamed: 44       str
Unnamed: 45       str
Unnamed: 46       str
Unnamed: 47       str
Unnamed: 48       str
Unnamed: 49       str
Unnamed: 50       str
Unnamed: 51       str
Unnamed: 52       str
Unnamed: 53       str
Unnamed: 54       str
Unnamed: 55       str
Unnamed: 56       str
Unnamed: 57       str
Unnamed: 58       str
Unnamed: 59       str
dtype: object

In [11]:
###Handeling miisssing value 
df.isnull

<bound method DataFrame.isnull of     Synthetic_Data  Unnamed: 1  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0               ID        Date     Segment     Region    Product    Channel
1                1  2024-01-01    Consumer      North      Omega        Web
2                2  2024-01-02  Enterprise       West      Delta    Partner
3                3  2024-01-03         SMB       West      Gamma      Store
4                4  2024-01-04         SMB      South       Beta        Web
..             ...         ...         ...        ...        ...        ...
296            296  2024-10-22    Consumer       West      Gamma        Web
297            297  2024-10-23         SMB      South       Beta     Mobile
298            298  2024-10-24    Consumer       West      Gamma      Store
299            299  2024-10-25         SMB       East      Omega     Mobile
300            300  2024-10-26    Consumer       East      Delta     Mobile

    Unnamed: 6 Unnamed: 7 Unnamed: 8   Unnamed: 9  ... Unnamed: 50  \
0        Units      Price   Discount  Gross_Sales  ...  Feature_33
1            7      35.95     0.0778       251.65  ...      0.2445
2           11      29.56     0.0301       325.16  ...     -0.6756
3           15      34.96     0.1333        524.4  ...      1.3465
4           16      27.45     0.0997        439.2  ...     -1.9772
..         ...        ...        ...          ...  ...         ...
296          5      17.23     0.0117        86.15  ...     -1.1593
297         10      27.03     0.1469        270.3  ...      -0.974
298         13       31.7     0.0426        412.1  ...     -1.3334
299          9      16.64      0.004       149.76  ...     -1.6917
300         17      18.28     0.0796       310.76  ...     -0.0549

    Unnamed: 51 Unnamed: 52 Unnamed: 53 Unnamed: 54 Unnamed: 55 Unnamed: 56  \
0    Feature_34  Feature_35  Feature_36  Feature_37  Feature_38  Feature_39
1       -0.7512      1.4398      0.4953     -0.3414     -0.9781      0.7948
2       -1.8047     -0.9686     -0.8705     -0.1231     -0.4762     -1.4512
3       -0.3722      0.4901      0.0712        0.93      0.9264      -1.842
4        0.3657      0.2532      0.3021      0.5605     -1.7665     -0.1778
..          ...         ...         ...         ...         ...         ...
296     -0.2564      1.9256     -1.4767      0.4953     -0.7731     -1.1994
297      0.2855      0.7378      0.3815       0.697     -0.2963      0.6417
298      0.8032     -0.3811     -0.1086      0.6893     -0.5027     -0.3974
299     -0.6144      0.6056     -1.1749      0.8519      1.2601      -0.677
300     -1.3918      0.4216     -0.4736     -0.3094      0.1356     -0.1731

    Unnamed: 57 Unnamed: 58 Unnamed: 59
0    Feature_40  Feature_41  Feature_42
1         0.367       0.314     -0.2693
2        0.0583      0.3998     -0.7063
3        0.6777      -0.566      0.4901
4         0.607      0.8551      1.1134
..          ...         ...         ...
296     -0.4342     -1.0698      0.0233
297       0.864      0.2598     -0.5052
298     -0.5865      1.3377      0.3429
299     -0.1758     -0.2799     -0.0517
300      0.7797     -0.0105     -0.2418

[301 rows x 60 columns]>

In [13]:
###Handeling miisssing value 
df.isnull().any(axis=1)

0      False
1      False
2      False
3      False
4      False
       ...
296    False
297    False
298    False
299    False
300    False
Length: 301, dtype: bool

In [14]:
df.isnull().sum()

Synthetic_Data    0
Unnamed: 1        0
Unnamed: 2        0
Unnamed: 3        0
Unnamed: 4        0
Unnamed: 5        0
Unnamed: 6        0
Unnamed: 7        0
Unnamed: 8        0
Unnamed: 9        0
Unnamed: 10       0
Unnamed: 11       0
Unnamed: 12       0
Unnamed: 13       0
Unnamed: 14       0
Unnamed: 15       0
Unnamed: 16       0
Unnamed: 17       0
Unnamed: 18       0
Unnamed: 19       0
Unnamed: 20       0
Unnamed: 21       0
Unnamed: 22       0
Unnamed: 23       0
Unnamed: 24       0
Unnamed: 25       0
Unnamed: 26       0
Unnamed: 27       0
Unnamed: 28       0
Unnamed: 29       0
Unnamed: 30       0
Unnamed: 31       0
Unnamed: 32       0
Unnamed: 33       0
Unnamed: 34       0
Unnamed: 35       0
Unnamed: 36       0
Unnamed: 37       0
Unnamed: 38       0
Unnamed: 39       0
Unnamed: 40       0
Unnamed: 41       0
Unnamed: 42       0
Unnamed: 43       0
Unnamed: 44       0
Unnamed: 45       0
Unnamed: 46       0
Unnamed: 47       0
Unnamed: 48       0
Unnamed: 49       0
Unnamed: 50       0
Unnamed: 51       0
Unnamed: 52       0
Unnamed: 53       0
Unnamed: 54       0
Unnamed: 55       0
Unnamed: 56       0
Unnamed: 57       0
Unnamed: 58       0
Unnamed: 59       0
dtype: int64

In [15]:
df.head(10)

,Synthetic_Data,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59
0,ID,Date,Segment,Region,Product,Channel,Units,Price,Discount,Gross_Sales,...,Feature_33,Feature_34,Feature_35,Feature_36,Feature_37,Feature_38,Feature_39,Feature_40,Feature_41,Feature_42
1,1,2024-01-01,Consumer,North,Omega,Web,7,35.95,0.0778,251.65,...,0.2445,-0.7512,1.4398,0.4953,-0.3414,-0.9781,0.7948,0.367,0.314,-0.2693
2,2,2024-01-02,Enterprise,West,Delta,Partner,11,29.56,0.0301,325.16,...,-0.6756,-1.8047,-0.9686,-0.8705,-0.1231,-0.4762,-1.4512,0.0583,0.3998,-0.7063
3,3,2024-01-03,SMB,West,Gamma,Store,15,34.96,0.1333,524.4,...,1.3465,-0.3722,0.4901,0.0712,0.93,0.9264,-1.842,0.6777,-0.566,0.4901
4,4,2024-01-04,SMB,South,Beta,Web,16,27.45,0.0997,439.2,...,-1.9772,0.3657,0.2532,0.3021,0.5605,-1.7665,-0.1778,0.607,0.8551,1.1134
5,5,2024-01-05,Consumer,East,Beta,Store,18,29.17,0.0716,525.06,...,0.6769,-0.442,-0.3443,1.2319,0.125,-1.9996,-1.2782,1.4514,0.1281,-0.4329
6,6,2024-01-06,Consumer,East,Gamma,Mobile,15,23.55,0.1275,353.25,...,-1.2184,0.5993,0.6075,0.1026,0.9861,0.2246,0.0399,-1.2012,-0.1172,1.334
7,7,2024-01-07,Consumer,East,Gamma,Store,15,28.87,0.0747,433.05,...,-0.2435,1.6985,-1.2076,0.4312,-0.4098,0.8442,-0.8431,-1.5573,-0.8842,-0.8216
8,8,2024-01-08,Enterprise,West,Omega,Store,14,26.01,0.0501,364.14,...,-1.5982,0.8145,1.6307,-0.9103,-0.7251,0.98,0.3062,-0.0678,0.4238,0.1578
9,9,2024-01-09,SMB,West,Omega,Web,11,27.49,0.0859,302.39,...,-1.319,0.2159,2.6349,0.0673,0.3087,-0.9508,-0.7828,-0.7936,1.4892,1.277

In [18]:
### Renaming the column
df.rename(columns={'Unnamed: 1':'fst_column'})

,Synthetic_Data,fst_column,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59
0,ID,Date,Segment,Region,Product,Channel,Units,Price,Discount,Gross_Sales,...,Feature_33,Feature_34,Feature_35,Feature_36,Feature_37,Feature_38,Feature_39,Feature_40,Feature_41,Feature_42
1,1,2024-01-01,Consumer,North,Omega,Web,7,35.95,0.0778,251.65,...,0.2445,-0.7512,1.4398,0.4953,-0.3414,-0.9781,0.7948,0.367,0.314,-0.2693
2,2,2024-01-02,Enterprise,West,Delta,Partner,11,29.56,0.0301,325.16,...,-0.6756,-1.8047,-0.9686,-0.8705,-0.1231,-0.4762,-1.4512,0.0583,0.3998,-0.7063
3,3,2024-01-03,SMB,West,Gamma,Store,15,34.96,0.1333,524.4,...,1.3465,-0.3722,0.4901,0.0712,0.93,0.9264,-1.842,0.6777,-0.566,0.4901
4,4,2024-01-04,SMB,South,Beta,Web,16,27.45,0.0997,439.2,...,-1.9772,0.3657,0.2532,0.3021,0.5605,-1.7665,-0.1778,0.607,0.8551,1.1134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,296,2024-10-22,Consumer,West,Gamma,Web,5,17.23,0.0117,86.15,...,-1.1593,-0.2564,1.9256,-1.4767,0.4953,-0.7731,-1.1994,-0.4342,-1.0698,0.0233
297,297,2024-10-23,SMB,South,Beta,Mobile,10,27.03,0.1469,270.3,...,-0.974,0.2855,0.7378,0.3815,0.697,-0.2963,0.6417,0.864,0.2598,-0.5052
298,298,2024-10-24,Consumer,West,Gamma,Store,13,31.7,0.0426,412.1,...,-1.3334,0.8032,-0.3811,-0.1086,0.6893,-0.5027,-0.3974,-0.5865,1.3377,0.3429
299,299,2024-10-25,SMB,East,Omega,Mobile,9,16.64,0.004,149.76,...,-1.6917,-0.6144,0.6056,-1.1749,0.8519,1.2601,-0.677,-0.1758,-0.2799,-0.0517
300,300,2024-10-26,Consumer,East,Delta,Mobile,17,18.28,0.0796,310.76,...,-0.0549,-1.3918,0.4216,-0.4736,-0.3094,0.1356,-0.1731,0.7797,-0.0105,-0.2418