In [2]:
print("map funtion")

map funtion

In [4]:
def square(x):
    return x*x

square(10)

100

In [6]:
number = [1,2,3,4,5,6,7,8]

(list(map(square,number)))

[1, 4, 9, 16, 25, 36, 49, 64]

In [8]:
## lamda funtion with map
number = [1,2,3,4,5,6,7,8]

list(map(lambda x: x*x ,number))

[1, 4, 9, 16, 25, 36, 49, 64]

In [10]:
## can we map multiple iterable 
number1= [1,2,3]
number2= [5,6,7]

add_number= map(lambda x,y: x+y,number1,number2)
print(list(add_number))

[6, 8, 10]

In [11]:
### map to covert list of string to int 

## use map to typecating str -> int 

str_num = ['1','2','3','4']
int_num= map(int,str_num)
print(list(int_num))

[1, 2, 3, 4]

In [12]:
words= ['apple','banana','cherry']
upper_word= list(map(str.upper,words))

print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [14]:
def get_name(person):
    return person['name']

people = [
    {'name':'Arpan','age':25},
    {'name':'jack','age':30}
]


list(map(get_name,people))

['Arpan', 'jack']